* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font: normal small Verdana, Arial, Helvetica, sans-serif;
	color: #959595;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #385B88;
}

h1 {
	font-size: 1.5em;
}

h2 {
	background: url(images/img6.gif) repeat-x left bottom;
	padding-bottom: 10px;
	margin-bottom: .8em;
	font-size: 2em;
	font-weight: normal;
}

h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font: bold x-small Verdana, Arial, Helvetica, sans-serif;
}

p, blockquote, ol {
	margin-bottom: 1.4em;
	line-height: 1.8em;
	text-align: justify;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

blockquote {
	margin-left: 2em;
	margin-right: 2em;
	font-style: italic;
}

ul {
	margin-left: 3em;
}

ol {
	margin-left: 3em;
}

a {
	text-decoration: none;
	color: #6183A6;
}

a:hover {
	text-decoration: underline;
}

.boxed .title {
	padding: 0px 0 0 10px;
	background: url(images/img03.gif) no-repeat left center;
	border-bottom: 1px solid #D6D5D5;
	font-size: 1.4em;
}

.boxed .content {
	padding: 10px;
}

#logo {
	width: 770px;
	height: 140px;
	margin: 0 auto;
	background: url(images/img02.gif) no-repeat 0 665px;
}

#content {
	width: 770px;
	margin: 0 auto;
}


#main {
	float: right;
	width: 550px;
	margin-top: 20px;
}

#sidebar {
	float: left;
	width: 160px;
}

#login fieldset {
	border: none;
}

#login label {
	font-size: x-small;
	font-weight: bold;
}

#login input {
	margin-bottom: 5px;
	padding: 2px 5px;
	border: 1px solid #385B88;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#inputtext1, #inputtext2 {
	color: #385B88;
}

#inputsubmit1 {
	background: #385B88;
	color: #FFFFFF;
}

#menu {
	margin-top: 10px;
	margin-bottom: 30px;
	border-bottom: 4px solid #EBEBEB;
}

#menu ul {
	margin: 0;	
	line-height: normal;
}

#menu li {
	list-style-type: none;
	display: inline;
}

#menu a {
	display: block;
	padding: 10px 0 10px 24px;
	border-top: 1px solid #EBEBEB;
	color: #385B88;
}

#menu a:hover, #menu .active a {
	background: #656EA1;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	text-transform:uppercase;
}

#updates ul {
	margin: 0;
	list-style: none;
}

#updates h3 {
	margin: 0;
	font: bold x-small Verdana, Arial, Helvetica, sans-serif;
}

#updates p {
	margin-bottom: 1.4em;
	font-size: smaller;
	line-height: normal;
}

#footer {
	clear: both;
	padding: 8px 20px;
	width: 770px;
	margin: 0 auto;
	background: #EAEAEA url(images/img6.gif) repeat-x left top;
}

#footer p {
	width: 770px;
	margin: 0 auto;
	font-size: x-small;
}
